/*
* Mainly scss variables
*/

/* --- ↓ width and height ---- */

$tab-height: 3.2rem;
$tab-cursor-height: 1.6rem;

$sidebar-width-small: 200px;
$sidebar-width-medium: 220px;
$sidebar-width-large: 260px;

$topbar-height: 3rem;

$footer-height: 5rem;

$main-content-max-width: 1150px;

$panel-min-width: 300px;
$panel-max-width: 450px;

$post-extend-min-height: 35rem;
